*{
	margin: 0;
	padding: 0;
}

.slick-prev:before,
.slick-next:before {
    color: pink;
 }
 

.your-class{
	width: 80%;
	margin: 0 auto;
}

.slide-img{
	height: 500px;
	background-position: center;
	background-size: cover;
}

.img1{
	background-image: url(../img/bridge.jpeg);
}
.img2{
	background-image: url(../img/sea.jpeg);
}

.img3{
	background-image: url(../img/sunflower.jpeg);
}