<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="slick/slick-master/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="slick/slick-master/slick/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<div class="your-class">
 	 <div class="slide-img img1"></div>
 	 <div class="slide-img img2"></div>
 	 <div class="slide-img img3"></div>
	</div>
	
	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="slick/slick-master/slick/slick.js"></script>
	<script src="js/script.js"></script>
</body>
</html>