*{
	margin: 0;
	padding: 0;
	color: black;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

h1{
	border-bottom: 3px solid #EC715F;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 8px;
}

p{
	text-align: center;
	padding-top: 30px
}

.container{
	background-color: white;
	width: 900px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 90px;
}

.box{
	width: 300px;
	height: 300px;
	border: 10px solid white;
	padding-top: 10px;
	float: left;
	box-sizing: border-box;
}

.box1{
	background-image: url(../img/IMG_3819.jpg);
}

.box2{
	background-color: skyblue;
	background-image: url(../img/IMG_4089.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.box3{
	background-color: green;
	background-image: url(../img/IMG_4196.JPG);
	background-size: cover;
}

.box4{
	background-color: pink;
	background-image: url(../img/IMG_4465.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.box5{
	background-image: url(../img/IMG_5699.jpg);
	background-size: cover;
}

.box6{
	background-color: yellow;
	background-image: url(../img/IMG_6614.jpg);
	background-repeat: no-repeat;
	background-position: center;
}