/* 無駄な余白をなくすリセットcss */
*{
    margin: 0;
    padding: 0;
}



/* class名「box」に対する記述 */


/* class名「background」に対する記述 */
.background{
	height: 160px;
	width: 160px;
	background-image: url();/* ()の中に相対パスを記述して、cssフォルダの外にあるimgフォルダの中の画像を読み込みましょう！ */
	background-position: center;
	background-size: cover;
}




/* 以下のコードはおまけです！コードの意味はわからなくても全く問題ありません！ */
.card {
	width: 400px;
    margin: 200px auto;
    box-shadow: 1px 1px 2px 0 rgba(117,117,117,.25);
}

.card-heading {
	margin: 0;
    padding: 10px 25px;
    border-bottom: 1px solid #757575;
    color: #fff;
    background: #00bcd4;
}

.card-text {
	margin: 0;
    padding: 25px;
    line-height: 2;
    color: #757575;
    background: #e0f7fa;
}