/* リセットCSS */
*{
	margin: 0;
	padding: 0;
}

p{
	background-color: skyblue;
	height: 200px;
	width: 300px;
	border: 2px solid gray;
	padding: 100px;
	margin: 150px;
	display: inline;
}

span{
	background-color: pink;
	height: 200px;
	width: 300px;
	border: 2px solid gray;
	padding: 100px;
	margin: 150px;
}